body {
  font-family: 'Rubik', sans-serif;
  width: 80%;
  margin: auto;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
}

.productsTitle {
  text-align: center;
}

.productCard {
  width: 200px;
  border: 1px solid lightgray;
  margin: 40px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.imgDiv {
  width: 150px;
}

.imgDiv img {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

li {
  margin: 0 10px 0 10px;
}

.navbar p {
  margin-right: 10px;
}

li img {
  width: 150px;
}

a {
  text-decoration: none;
  color: black;
}

.descriptionContainer {
  display: flex;
  justify-content: space-around;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.descriptionImage img {
  width: 100%;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgrey;
}

header, .row{
  display: flex;
}

.col {
  flex: 1;
}

.row {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px;
}

header {
  margin: 10px 0px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}